<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acarolabs.a3dent" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Activity2"
            android:label="@string/title_activity_activity2" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Activities.RedimirActivity"
            android:label="@string/title_activity_redimir" >
        </activity>
        <activity
            android:name=".Activities.notificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".Activities.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".Activities.ProfilesActivity"
            android:label="@string/title_activity_profiles" >
        </activity>
        <activity
            android:name=".Activities.SaveProfileActivity"
            android:label="@string/title_activity_save_profile" >
        </activity>
        <activity
            android:name=".Activities.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
    </application>
</manifest>
